[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true
name = "downloadpytorch"

[packages]
transformers = "*"
torch = {version = "==2.1.2+cu121", index = "downloadpytorch"}
torchvision = {version = "*", index = "downloadpytorch"}
torchaudio = {version = "*", index = "downloadpytorch"}
cuda-python = "==12.1.0"
bitsandbytes = "*"
accelerate = "*"

[dev-packages]

[requires]
python_version = "3.11"
